#barrasup{
    background-image: -webkit-linear-gradient(top, #337ab7 20%, #2e6da4 100%);
    background-image: -o-linear-gradient(top, #337ab7 20%, #2e6da4 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#337ab7), to(#2e6da4));
    background-image: linear-gradient(to bottom, #337ab7 0%, #2e6da4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff2e6da4', GradientType=0);
    background-repeat: repeat-x;
    -webkit-padding-start: 10px;
    color: whitesmoke;
    text-align: center;
}
#expl{
    background-color: whitesmoke;
    color: black;
    font-family: Helvetica;
    padding: 200px 50px;
    font-size: 20px;
    text-align: center;
}

#titulofi{
    text-align: left;
    margin-left: 2%;
}
#titulopro {
    text-align: right;
    margin-right: 2%;
}
