#formdist{
    font-family: Helvetica;
    text-align: center;
    font-size: 25px;
    color: black;
    text-align: center;
    padding: 20%;
    align-content: center;

}

#barrasup{
    color: whitesmoke;
    background-color: darkmagenta;
    font-weight: bold;
    font-style: italic;
    font-family: Helvetica;
}
#titulofi{
    text-align: left;
    margin-left: 2%;
}
#titulopro {
    text-align: right;
    margin-right: 2%;
}

#barrainf {
    color: whitesmoke;
    background-color: darkmagenta;
    font-weight: lighter;
    font-family: "Helvetica Neue";
    text-align: right;
}

#boton4{
    background-color: transparent;
    font-size: 15px;
    padding: 13px 20px;
    color: darkgreen;
    border: 2px solid #006400;
}
#boton4:hover{
    background-color: darkgreen;
    font-family: helvetica;
    color: white;
    padding: 15px 22px;
    text-aling: center;
    display: inline-block;
    font-size: 16px;
    border: none;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

#input3{
    border: 2px solid #8b008b;
    padding: 12px 18px;
    background-color: transparent;
    color: darkmagenta;
    font-size: 16px;
    font-family: Helvetica;
    font-style: bold;
    text-align: center;

}
#input4{
    border: 2px solid #8b008b;
    padding: 12px 18px;
    background-color: transparent;
    color: darkmagenta;
    font-size: 16px;
    font-family: Helvetica;
    font-style: bold;
    text-align: center;

}
