#inicio{
    color: darkmagenta;
    font-weight: bold;
    margin-bottom: 5%;
    margin-top: 5%;
    padding-top: 5%;
    text-align: center;
}
#boton1{
    background-color: white;
    color: black;
    border: 2px solid #8b008b
}
#boton1:hover{
    background-color: darkmagenta;
    font-family: helvetica;
    color: white;
    padding: 10px 20px;
    text-aling: center;
    display: inline-block;
    font-size: 12px;
    border: none;
    background-color: darkmagenta;
    color: white;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}
#boton2{
    background-color: white;
    color: black;
    border: 2px solid #006400
}

#boton2:hover{
    background-color: darkgreen;
    font-family: helvetica;
    color: white;
    padding: 10px 20px;
    text-aling: center;
    display: inline-block;
    font-size: 12px;
    border: none;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

#barrasup{
    color: whitesmoke;
    background-color: darkmagenta;
    font-weight: bold;
    font-style: italic;
}
#titulofi{
    text-align: left;
    margin-left: 2%;
}
#titulopro{
    text-align: right;
    margin-right: 2%;
}

#formulario{
        background-color: whitesmoke;
        text-align: center;
    
}