#inicio{
    color: #2e6da4;
    text-align: center;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    margin-bottom: 20%;
    margin-top: 20%;
}

#barrainf{
    background-image: -webkit-linear-gradient(top, #337ab7 20%, #2e6da4 100%);
    background-image: -o-linear-gradient(top, #337ab7 20%, #2e6da4 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#337ab7), to(#2e6da4));
    background-image: linear-gradient(to bottom, #337ab7 0%, #2e6da4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff2e6da4', GradientType=0);
    background-repeat: repeat-x;
    color: whitesmoke;
    text-align: center;

}