#barrasup{
    color: whitesmoke;
    background-color: darkmagenta;
    font-weight: bold;
    font-style: italic;
    font-family: Helvetica;
}
#titulofi{
    text-align: left;
    margin-left: 2%;
}
#titulopro {
    text-align: right;
    margin-right: 2%;
}
#grafico{
    padding: 25%;
}
#recalcular{
    background-color: darkmagenta;
}



#recal1{
    color: whitesmoke;
    horiz-align: right;
    background-color: whitesmoke;
    padding: 10px 15px;
    font-family: Helvetica;
    font-style: bold;
    color: darkmagenta;


}
#recal2{
    color: whitesmoke;
    background-color: whitesmoke;
    padding: 10px 15px;
    font-family: Helvetica;
    font-style: bold;
    color: darkmagenta;

}

#boton5{
    background-color: whitesmoke;
    font-size: 16px;
    padding: 15px 22px;
    color: darkmagenta;
    border: none;
    alignment: center;
}

#boton5:hover{
    background-color: darkmagenta;
    font-family: helvetica;
    color: whitesmoke;
    padding: 15px 22px;
    text-aling: center;
    display: inline-block;
    font-size: 16px;
    border: 2px solid #f5f5f5;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}