#barrasup{
    color: whitesmoke;
    background-color: darkmagenta;
    font-weight: bold;
    font-style: italic;
    font-family: Helvetica;
}
#titulofi{
    text-align: left;
    margin-left: 2%;
}
#titulopro{
    text-align: right;
    margin-right: 2%;
}

#divformulario{
    background-color: lightgray;
    text-align: center;
    text-decoration: dotted;
    font-family: Helvetica;
}
#formu{



}
#boton3{
    background-color: transparent;
    color: darkmagenta;
    border: 2px solid #8b008b;
}

#boton3:hover{
    background-color: darkmagenta;
    font-family: helvetica;
    color: white;
    padding: 10px 20px;
    text-aling: center;
    display: inline-block;
    font-size: 12px;
    border: none;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

#barrainf{
    color: whitesmoke;
    background-color: darkmagenta;
    font-weight: lighter;
    font-family: "Helvetica Neue";
    text-align: right;

}