#barrasup{
    color: whitesmoke;
    background-color: darkmagenta;
    font-weight: bold;
    font-style: italic;
}
#titulofi{
    text-align: left;
    margin-left: 2%;
}
#titulopro{
    text-align: right;
    margin-right: 2%;
}
#boton3{
    background-color: white;
    color: black;
    border: 2px solid #44a344
}

#boton3:hover {
    background-color: #44a344;
    font-family: helvetica;
    color: white;
    padding: 10px 20px;
    text-aling: center;
    display: inline-block;
    font-size: 12px;
    border: none;
    background-color: #44a344;
    color: white;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

#formulario{
    font-family: helvetica;
    font-style: italic;
    background: whitesmoke;
    text-align: center;
    font-size: 16px;
}
