#headd {
    background-image: -webkit-linear-gradient(top, #337ab7 20%, #2e6da4 100%);
    background-image: -o-linear-gradient(top, #337ab7 20%, #2e6da4 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#337ab7), to(#2e6da4));
    background-image: linear-gradient(to bottom, #337ab7 0%, #2e6da4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff2e6da4', GradientType=0);
    background-repeat: repeat-x;
    -webkit-padding-start: 10px;
    color: whitesmoke;
    text-align: center;
}

#Ccentro{
    background-image: -webkit-linear-gradient(top, #f8f8ff 0%, #f5f5f5 100%);
    background-image:      -o-linear-gradient(top, #f8f8ff 0%, #f5f5f5 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f8f8ff), to(#f5f5f5));
    background-image:         linear-gradient(to bottom, #f8f8ff 0%, #f5f5f5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff8f8ff', endColorstr='#fff5f5f5', GradientType=0);
    background-repeat: repeat-x;
    margin-top: 2%;
    margin-bottom: 2%;
}

#Cder{
    margin-left: 0px;
    margin-top: 5%;
    margin-bottom: 2%;
}

#datos{

    background-image: -webkit-linear-gradient(top, #f8f8ff 0%, #f5f5f5 100%);
    background-image:      -o-linear-gradient(top, #f8f8ff 0%, #f5f5f5 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f8f8ff), to(#f5f5f5));
    background-image:         linear-gradient(to bottom, #f8f8ff 0%, #f5f5f5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff8f8ff', endColorstr='#fff5f5f5', GradientType=0);
    background-repeat: repeat-x;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 3%;



}

#intro{
    padding: 0px,50px,150px,300px;
    margin-bottom: 2%;
    margin-top: 2%;
}

#endd{
    background-image: -webkit-linear-gradient(top, #337ab7 20%, #2e6da4 100%);
    background-image: -o-linear-gradient(top, #337ab7 20%, #2e6da4 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#337ab7), to(#2e6da4));
    background-image: linear-gradient(to bottom, #337ab7 0%, #2e6da4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff2e6da4', GradientType=0);
    background-repeat: repeat-x;
    color: whitesmoke;
    text-align: center;
}
